<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rahulkalamkar.myrxapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".MainActivity2" />
        <activity android:name=".CompositeDisposable" />
        <activity android:name=".CompositeData.CompositeDataExample" />
        <activity android:name=".OperatorsOfRxJava.MainActivity3" />
        <activity android:name=".ScreenWithView.MainActivity4" />
        <activity android:name=".WebService.WebServiceActivity" />
        <activity android:name=".WebService.View.WebServiceWithoutButterknife" />
        <activity android:name=".HomeActivity">
        </activity>
        <activity android:name=".FlightApp.FlightMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter></activity>
    </application>

</manifest>